<!DOCTYPE HTML>
<html>
<head>
<title>Internal CSS</title>
<style>
.main
{
text-align:center;
]
.GFG{
color:yellow;
font-size:5px;
}
.IS{
color:red;
font-size:2px;
}
</style>
</head>
<body>
<div class="main">
<div class="GFG">Internal CSS</div>
<div class="IS">Internal CSS is used to define a style for a single HTML page</div>
</body>
</html>
			